# -*-coding:utf-8-*-

# coder: Jiawen Zhu
# date: 2019.7.14
# state: modified

# devices
gpu_device: '0'

# net architecture
architecture: resnet_v1_50

# datasets
num_classes: 3
train_data_num: 1165
dataset: easy
input_resize_w: 224
input_resize_h: 224
# 预处理里的上下限
_RESIZE_SIDE_MIN: 224
_RESIZE_SIDE_MAX: 224
data_path: ./datasets/easy/trainval/
record_train_data_path: ./datasets/easy/tfrecord/trainval.record
input_size_d: 3 # depth


# training parameters
train_steps: 15000
batch_size: 128

# learning rate scheduler
lr_scheduler:
  init_lr: 0.005

# optimizer
optimize:
  momentum: 0.9

# output
save_pb_direct: False
ckpt_path: ./exp_output/easy_resnet50/ckpt/
pb_direct_path: ./exp_output/easy_resnet50/pb_saved_direct/